  body {
    background-color: #e3fdfd;
  }

  hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #a6e3e9;
    border-width: 8px;
    width: 10%;
  }

  img {
    height: 150px;
  }

  h1 {
    color: #71c9ce;
  }
  h3 {
    color: #71c9ce;
  }
